.header {
    text-align: center;
    height: 6rem;
    background-color: rgb(69, 69, 241);
}

.header h1{
    padding-top: 1.5rem;
}


.text1 {
    margin-top: 7rem;
}

.inputUno {
    text-align: center;
}

.inputUno p{
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2rem;
}

.text-danger{
    display: flex;
    justify-content: center;
}

.knapp {
    text-align: center;
    margin-top: 2rem;
    
}

.knappen {
    background-color: rgb(69, 69, 241);
    padding: 5px 15px;
    display: inline block;
    border-radius: 10px;
}

.knappen p{
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    top: 0.5rem;
}

.container {
    margin-top: 2rem;
    padding: 1rem;
    
   
}

.listan {
    outline: auto;
    outline-color: rgb(69, 69, 241);
    display: flex;
    margin: auto;
    width: 500px;
    padding: 1rem;
}

.MinTitel {
    font-family: sans-serif;
    font-weight: lighter;
}

.Delete {
   margin-left: auto;
   background-color: rgb(69, 69, 241);
   
}


